/* Header.css */

.navbar-header {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-top: 10px;
    align-items: center;
    background-color: rgb(235, 201, 235);
    z-index: 999;
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.navbar-brand img {
    width: 100px;
    margin-bottom: 20px;
}

.navbar-toggler {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    margin: 10px 10px;
}

.navbar-menu {
    display: flex;
}

/* Navbar links styles */
.navbar-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 50px;
}

.navbar-links .active {
    color: green;
    font-weight: bold;
}

.navbar-links li {
    font-size: 1.3rem;
}

.navbar-links a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s, transform 0.3s;
}

.navbar-links a:hover {
    color: green;
    font-weight: bold;
}

.header-user-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user-name {
    font-weight: bold;
    font-size: 20px;
}

.header-cart {
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
}

.header-cart a {
    font-size: 20px;
    width: 0%;
    text-align: center;
    margin-left: 0;
    margin-right: 0;
    /* Center text */
}

@media (max-width: 767px) {
    .navbar-brand img {
        width: 50px;
        margin-bottom: 20px;
    }

    .navbar-toggler {
        display: block;
    }

    .navbar-menu {
        display: none;
        flex-direction: column;
        width: 100%;
        padding: 10px 0;
        margin-top: 10px;
        z-index: 999;
    }

    .navbar-menu.open {
        display: flex;
    }

    .navbar-links {
        flex-direction: column;
        gap: 10px;
    }

    .header-button {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .header-button a {
        margin: 1px;
        font-size: 10px;
        width: 90%;
        text-align: center;
    }

    .header-user-info {
        display: flex
    }

    .header-cart a {
        font-size: 15px;
        width: 90%;
        text-align: center;
        margin-left: 0;
        margin-right: 0;
    }

}

@media (max-width: 1040px) {
    .navbar-links {
        gap: 10px;
    }

    .navbar-links li {
        font-size: 1rem;
        margin-top: 10px;
    }
}