
  

  .product {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.2s;
    height: 350px; /* Fixed height for the product card */
  }
  .product-card:hover {
    transform: translateY(-5px);
  }
  .product-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-color: #f7f7f7; 
  }
  
  .product-image {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover; 
  }
  
  .product-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    height: 150px; 
  }
  
  .product-name {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #333;
    text-align: center;
    height: 50px;
    overflow: hidden;
    text-overflow: ellipsis; 
    white-space: nowrap; 
  }
  
  .price-box {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .new-price {
    font-size: 1.25rem;
    color: green;
    font-weight: bold;
  }
  
  .original-price {
    font-size: 1.2rem;
    font-weight: 700;
    color: #eb2a2a;
    text-decoration: line-through;
    margin-left: 10px;
  }
  
  .buy-button {
    background-color: orange; 
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .buy-button:hover {
    background-color: #218838; 
  }
  