.bao-subheadline {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
}

.bao-subheadline-deco-line {
    width: 2rem;
    height: 2px;
    background-color: #ccc;
}
.bao-subheadline-label {
    text-transform: uppercase;
    margin: 0 1rem;
    letter-spacing: 0.15em;
    font-weight: bold;
    font-size: 20px;
    color: #555;
 
    animation: fadeInOut 1s ease-in-out infinite; /* Animation lặp lại vô hạn */
}

/* Định nghĩa keyframes cho hiệu ứng fadeInOut */
@keyframes fadeInOut {
    0%, 100% {
      
        transform: translateY(-5px); /* Dịch chuyển lên trên */
    }
    50% {
    
        transform: translateY(0); /* Trở về vị trí ban đầu */
    }
}



.bao-product-cart {
    text-align: center;
}

.product-image {
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.product-overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.product-overlay {
    opacity: 1;
}



.on-sale-badge {
    position: absolute;
    top: 0px;
    right: 0px;
    background: green;
    color: white;
    padding: 0.5rem 1rem;
    font-weight: 600;
    border-radius: 9px;
    opacity: 0;
    transform: translateX(-100%); /* Di chuyển nút ra ngoài màn hình bên trái */
    animation: slideInBadge 5s forwards ease-in-out infinite; /* Animation cho nút */
}

@keyframes slideInBadge {
    0% {
        opacity: 0.7;
        transform: translateX(-100%); /* Bắt đầu từ bên ngoài màn hình */
    }
    50% {
        opacity: 0.8;
    }
    100% {
        opacity: 1;
        transform: translateX(0); /* Di chuyển về vị trí ban đầu */
    }
}

.explore-button {
    width: 70%;
    padding: 10px;
    margin-bottom: 0.5rem;
    color: white; 
    background-color:#ed9e66; 
    border: none; 
    border-radius: 10px;
    font-weight: bold;
}
.cart-button {
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    margin-bottom: 0.5rem;
    color: white; 
    background-color: orange; 
    border: none; 
    border-radius: 10px;
    font-weight: bold;
}

.product-info {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: #f9f9f9;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    transition: box-shadow 0.3s;
    text-decoration: none;
}
.product-info a{
    text-decoration: none;
}

.product-info:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-title {
    font-size: 1.25rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 0.5rem;
    transition: color 0.3s;
    height: 1.5em; /* Fixed height */
    overflow: hidden; /* Hide overflow content */
    text-overflow: ellipsis; /* Show ellipsis when text is too long */
    white-space: nowrap; /* Prevent text from wrapping */
}


.product-title:hover {
    color: #d2691e;
}


.bao-price {
    font-size: 1rem;
    color: #555;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-price {
    font-weight: bold;
    color: #333;
    text-align: center;
}

.original-price {
    margin-left: 0.5rem;
    font-size: 0.9rem;
    text-decoration: line-through;
    font-weight: 700;
    color: #e91717;
}